div .cart-area {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
}

.cart-area svg {
    color: #525CEB;
    width: 150px;
    height: 150px;
}

.cart-area h1 {
    color: #3D3B40;
    font-size: 5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}