.contact-container h1{
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 2rem;
    background-color: #fff;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.contact {
    margin: 10px;
    font-size: 1.2rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
}

.contact div {
    margin: 15px;
    border-top: solid #F0EDCF 0.5px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact svg {
    width: 50px;
    height: 50px;
}

#Social-media {
    display: flex;
    gap: 30px;
    overflow: hidden;
}