.main-page {
  font-family: Arial, Helvetica, sans-serif;
}

.category {
  background-color: #fff;
}

.header {
  height: auto;
  margin: 10px 10px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category-list {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 1.5rem;
}

.category button {
  background-color: #fff;
  width: 200px;
  height: auto;
  margin: 2rem;
  overflow: hidden;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.category button:hover {
  transform: scale(1.009);
  transition: ease-in-out -2s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.category div {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category h1 {
  font-size: 15px;
  text-align: center;
}

.temptation-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 65vh;
  gap: 20px;
  text-align: center;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.discount {  
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.discounts * {
  font-size: 0.8rem;
  cursor: pointer;
}

.discount #title {
  margin-top: 50px;
  height: 10%;
  text-align: center;
  align-content: center;
  font-size: 0.6rem;
  border-radius: 10px;
}

.discounts {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  border: solid whitesmoke 1px;
  padding: 5px;
}

.discount .discount-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  align-content: center;
}

.discounts h1 {
  font-size: 1.1rem;
}

.discounts p {
  color: #50f907;
  font-weight: 800;
  font-size: 1rem;
}

.discounts div {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.advertisement {
  margin: 10px;
  width: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.advertisement h1 {
  margin: 30px;
  text-align: left;
  font-family: cursive;
  transform: rotate(-5deg);
}

.advertisement p {
  display: flex;
  margin: 5rem 3rem;
  justify-content: left;
  align-content: center;
  font-weight: bolder;
  color: #fff;
  font-size: x-large;
}

.trusted-strip {
  background-color: #FBF6EE;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  padding: 10px;
  gap: 15px;
  font-size: 1.3rem;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trusted-strip span {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}

.trusted-strip svg {
  width: 50px;
  height: 50px;
  color: #525CEB;
}

.trusted-strip p, h2 {
  color: #092635;
}

.slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  border: 5px;
  overflow: hidden;
  position: relative;
}

.slides {
  margin: 10px;  
  padding: 2rem;
}

.carousel {
  width: 100%;
  height: 25rem;
  border-radius: 10px;
}

.slide-image svg {
  width: 50px;
  height: 50px;
  color: transparent(black);
}

.arrow {
  position: absolute;
  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0px 3px 8px);
  cursor: pointer;
}

.left-arrow {
  left: 1%;  
}

.right-arrow {
  right: 1%;
}

.carousel-hidden {
  display: none;
}

.indicator {
  position: absolute;
  bottom: 10px;
}

.indicator button {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 100%;
  background-color: black;
  border: none;
}

.products {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.best-of-electronics > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 3rem;
  text-align: center;
  margin: 2rem 10rem;
}

.electronic {
  border: solid #F0EDCF 0.5px;
}

.electronic *{
  margin: auto;
  border-top: solid #F0EDCF 0.5px;  
}

.electronic div {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
}

.electronic div:hover {
  transform: scale(1.025);
  transition: ease-in-out 0.5s;
}

.trending-products > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 3rem;
  text-align: center;
  margin: 2rem 10rem;
}

.trendings {
  border: solid #F0EDCF 0.5px;
}

.trendings *{
  margin: auto;
  border-top: solid #F0EDCF 0.5px;  
}

.trendings div {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
}

.trendings div:hover {
  transform: scale(1.025);
  transition: ease-in-out 0.5s;
}

.btn {
  margin-top: 1px;
  padding: 10px;
  border: solid #F0EDCF 0.5px;
  display: flex;
  justify-content: space-between;
}

.btn * {
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  
}

.btn .buy {
  background-color: #65B741;
}

.btn *:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #65D724;
}

@media only screen and (max-width: 900px) {
  .category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .advertisement {
    display: none;
  }
}