.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar img {
    width: 20%;
    height:fit-content;
    margin: 10px;
}

.navbar .search {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.navbar .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: auto;
}

.navbar * {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    row-gap: 0;
    display: flex;
    flex-direction: row;
}

.navbar svg {
    padding: 0;
    margin: 0;
}

.navbar input {
    background-color: #B4D4FF;
    border: none;
    width: 70%;
    border-radius: 5px;
}

.navbar button {
    width: 100px;
    border: none;
    background-color: #525CEB;
    border-radius: 10px;
    cursor: pointer;
}

.navbar a {
    width: 100px;
    text-align: center;
    color: #0F1035;
    display: flex;
    justify-content: space-around;
    transition: ease-in-out 0.5s;
}

.navbar a:hover {
    border-radius: 5px;
    border-bottom: solid #525CEB 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar h2 {
    font-size: 1rem;
    padding: 0;
    margin-top: 2px;
    font-weight: bold;
}

.navbar div {
    margin: 10px;
    width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    .navbar h2 {
        display: none;
    }
    .navbar input {
        width: 150px;
    }
}